<section>
  <main>
    <div [@animationSlider]="animationIndex" class="exchange-rates-carousel">
      <ng-container *ngFor="let rateGroup of ratesGroup; let i = index">
        <app-rate-box *ngIf="i === rateIndex"
                      [baseCurrencyBadge]="rateGroup.baseCurrency"
                      [rateCurrency]="(rate$ | async)?.rates[rateGroup.rateCurrency]"
                      [rateCurrencyBadge]="rateGroup.rateCurrency"
                      [imageIndex]="i">
        </app-rate-box>
      </ng-container>
    </div>
  </main>

  <footer class="mt-12">
    <button mat-icon-button (click)="onPreview(rateIndex)"><mat-icon>navigate_before</mat-icon></button>
    <button mat-icon-button (click)="onNext(rateIndex)"><mat-icon>navigate_next</mat-icon></button>
  </footer>
</section>
