<section>
  <main>
    <div [@animationSlider]="animationIndex" class="exchange-rates-carousel">
      <ng-container *ngFor="let rateGroup of ratesGroup; let i = index">
        <ng-container *ngIf="i === rateIndex">
          <app-rate-box [baseCurrencyBadge]="rateGroup.baseCurrency"
                        [rateCurrency]="(rate$ | async)?.rates[rateGroup.rateCurrency]"
                        [rateCurrencyBadge]="rateGroup.rateCurrency"
                        [imageIndex]="i">
          </app-rate-box>
        </ng-container>
      </ng-container>
    </div>
  </main>

  <footer>
    <button mat-raised-button (click)="onPreview(rateIndex)">Prev</button>
    <button mat-raised-button (click)="onNext(rateIndex)">Next</button>
  </footer>
</section>
