@import "../../../../assets/scss/variables";

.rate-box {
  width: 200px;
  height: 100px;
  padding: $lg-space;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .rate {
    &__base-currency {
      font-size: 36px;
      color: $primary;
    }

    &__currency {
      font-size: 36px;
      color: $text;
      display: flex;
      justify-content: flex-end;


      &--badge {
        font-size: 24px;
        color: $primary;
        margin-left: $sm-space;
      }
    }
  }
}
